{% extends "portfolio/common.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Myprofile/thanku.css' %}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="thank-you">
                    <h1>Thank You</h1>
                    <p>There is issue with fetching resume...try after some time</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
