{% extends "portfolio/common.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'Myprofile/profile.css' %}">

    <div class="header text-center">
        <h1>Profile</h1>
    </div>
    
    <div class="container profile-section" style="padding-left: 15px; padding-right: 15px;">
        <div class="row">
            <div class="col-lg-6">
                <h2>Jitesh Shewale</h2>
                <p>Mumbai, Maharashtra-India</p>
                <h3>Education</h3>
                <p>BE (Electronics & Telecommunication)<br>
                Mumbai University<br>
                CGPA: 9.11/10<br>
                Duration: 2017-2021</p>
                <h3>Work Experience</h3>
                <p>Tata Consultancy Services (2021-Current)<br>
                Mumbai, India<br>
                Responsibilities:
                <ul class="responsibilities-list">
                    <li>Utilized Python with PyODBC to query MySQL databases and authenticate connections.</li>
                    <li>Enhanced MySQL database performance by modifying tables, views, and stored procedures.</li>
                    <li>Collaborated with the DBA team to deploy changes in the Redshift database.</li>
                    <li>Developed Autosys jobs, Unix scripts, and email templates using Python and Jinja2.</li>
                    <li>Managed onshore development teams and applied OOP principles in Python scripting.</li>
                    <li>Employed various Python libraries, including pandas, sys, OS, shutil, and subprocess.</li>
                    <li>Developed YAML files to store application-related information.</li>
                    <li>Integrated Veracode Scan into Jenkins for automated code review.</li>
                    <li>Proficient in BitBucket, SourceTree, PyCharm, and other development tools.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Certifications</h3>
                <ul class="certification-list">
                    <li><a href="https://www.udemy.com/certificate/UC-dff89f54-1b24-4f74-9bd1-8462e333b87a/" target="_blank">Data Analysis with Python by IBM, Coursera</a></li>
                    <li><a href='https://www.udemy.com/certificate/UC-b3400b74-bbe6-407f-a6d6-c8f7b171caf4/' target='blank_'>Django Masterclass, Udemy</a></li>
                    <li><a href='https://www.coursera.org/account/accomplishments/verify/XPBCMGYNTWPY' target='blank_'>Advanced SQL Retrieval Queries Coursera</a></li>
                    <li><a href='https://www.credly.com/badges/5c2beb9a-c8a6-4dcb-893a-726a8e01e65b/linked_in_profile' target='blank_'>AWS Cloud Practitioner</a></li>
                </ul>
                <h3>Technical Skills</h3>
                <ul class="technical-skills">
                    <li>Languages: Python, SQL, Unix, Java Basic</li>
                    <li>Frameworks: Django</li>
                    <li>Databases: MsSQL, Oracle, Redshift</li>
                    <li>Tools: Bitbucket, SourceTree, Putty, Pycharm</li>
                </ul>
                <h3>Achievements</h3>
                <ul class="achievement-list">
                    <li>Gold Badge in Competitive Programming python Hackerrank, 2020</li>
                    <li>Secured 277th rank in national coding scaler challenge, 2020</li>
                </ul>
                <h3>Off-Work Life</h3>
                <p>
                I'm a junior developer with a love for coding. Outside of work, I find happiness in music, movies, and solo trips. Nature, especially during monsoons and winters, captivates me. I'm not into the club scene or drinking; I prefer classic tunes and rom-com movies. Geopolitics fascinates me because it sheds light on global events. I come from a small village, which keeps me grounded. I might not be a fashion enthusiast, but I appreciate simplicity and real connections. In this diverse blend of interests and values, I'm crafting a unique life story.
                </p>
                <a href="{% url 'resume-download' 'resume' %}" class="btn btn-primary">Download Resume</a>
            </div>
        </div>
    </div>

{% endblock %}
